<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>WEAVUS 쇼핑몰 상세정보</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">WEAVUS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">장르</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:href="@{/{num}(num = ${1})}">게임</a></li>
                        <li><a class="dropdown-item" th:href="@{/{num}(num = ${2})}">음악</a></li>
                        <li><a class="dropdown-item" th:href="@{/{num}(num = ${3})}">만화</a></li>
                        <li><a class="dropdown-item" th:href="@{/{num}(num = ${4})}">IT뉴스</a></li>
                        <!--                        1 : 게임, 2:음악, 3:만화, 4 : IT뉴스-->
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="card" style="width: 69.8rem;" action="/detail" method="post">
    <div class="card-body">
        <h5 class="card-title" th:text="${detail.movieTitle}"></h5>
        <h5 class="card-title" th:text="${detail.uploadDate}"></h5>
    </div>
    <div class="ratio ratio-16x9">
        <iframe th:src="${detail.fileUrl}" title="YouTube video player" allowfullscreen></iframe>
    </div>
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center">
             <div>
                <form action="/addHeart" method="post">
                    <input type="hidden"  name="movie_id" th:value="${detail.getId()}">
                    <button type="submit" class="btn btn-outline-dark">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                        </svg>
                        <a th:if="${heartInfo != null}"
                           class="outline-dark"
                           th:text="${'좋아요 수 : ' + heartInfo.size()}">
                        </a>
                    </button>
                </form>
            </div>
            <div class="text-center" th:if="${session.user != null}">
                    <div th:if="${session.user.id == detail.userId}" >
                        <a class="btn btn-outline-dark" th:href="@{/movieModify/{id}(id = ${detail.id})}">영상 수정</a>
                        <div th:if="${detail.movieStatus == '1'}" >
                            <a class="btn btn-outline-dark" th:href="@{/delete/{id}(id = ${detail.id})}">영상 비공개하기</a>
                        </div>
                        <div th:if="${detail.movieStatus == '0'}" >
                            <a class="btn btn-outline-dark" th:href="@{/delete/{id}(id = ${detail.id})}">영상 공개하기</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">WEAVUS &copy; Youtube 2024</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>